.pk1{
    background-color: yellow;
}
.pk2{
    background-color: yellowgreen;
}
body{
    background-image: url("4307018_25525.jpg");
}
.pk3{
    background-color:red;
}
.pk4{
    background-color: violet;
}
.pk5{
    background-color solid:border-block-end-width: ;
}
